<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IWebshop" />
                <binding name="WSDualHttpBinding_IShipping" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WebShopService/Service1/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IWebshop"
                contract="src.IWebshop" name="WSDualHttpBinding_IWebshop">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WebShopService/Service1/Shipping"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IShipping"
                contract="src.IShipping" name="WSDualHttpBinding_IShipping">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>